<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Business Information System</title>
    </head>
    <body bgcolor="#87cefa">
        <h1><center><font color="yellow"> Profile</font></center></h1>
        <center><img src="assets/images/1.jpg"width="400"height="500"></center>
        <h3><font color="#ffe4c4">Name : Achiraya pangpassa </font> </h3>
        <h3><font color="#ff8c00">NickName : Ging Fah </font> </h3>
        <h3><font color="#ffe4c4">Education’s Background : RMUTI </font> </h3>
        <h3><font color="#8b0000">Pets : Dog </font> </h3>
        <h3><font color="#ffe4c4">Disliked Animal : snack </font> </h3>
        <h3><font color="#adff2f">Hobbies : Listen to music , see movies  </font> </h3>

        <h3><font color="blue">Motto’s Lifestyle : DO ANYTHING TODAY BETTER THAN YESTERDAY </font> </h3>
    </body>
</html>
